h4 {
margin-left: 1.5em;
margin-top: 0.4em;
font-size: 1em;
color: black;
font-weight: 450;
}

H6 {
    font-size: 1em;
}

p{
    font-size: 1em;
color: gray;}



black{
    background-color: black;
}

.bg {
    background-color:white;
    padding-right: 16em;
    border-radius: 0 45px 0 0;
    margin-top: -6em;
position: absolute;
}

.marge
{margin-left:10em;   
}

/*banner phantomania + banner fixe LN-Shop now*/ 
.ln {
  position: absolute;
  margin-top: 11em;
  margin-left: 13em;;
    z-index: 2;
}


.shopnow {
    margin-top: 23em;
    margin-left: 15.2em;
    position: absolute;
    border: white;
    z-index: 3;
}
.fleche {
    margin-top: 23.25em;
    margin-left: 15em;
    position: absolute;
    border: white;
    z-index: 3;
}

.phantomania {
    margin-left: 72.1em;
    margin-top: 14.8em;
    position: absolute;
    z-index:5;
}

.code {
    margin-left: 69em;
    margin-top: 15em;
    position: absolute;
    border-radius: 10px;
    z-index:4;
}

.cirque {
    color: white;
    margin-left: 73em;
    margin-top: 21.5em;
    position: absolute;
    z-index:5;
}