<app-navbar></app-navbar>
  <!--carousel-->
 
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/img/phantomania-banner.jpg" width="100%" alt="BANNER">
      </div>
      <div class="carousel-item">
        <img src="" alt="phantomania">
      </div>
      
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>

  <!--carousel-->
<div class="bg">
  <div class="container">
    <div class="row">
        
        <div class="col"><h6 class="txt">Un sac gratuit</h6>
        <p> À l'achat de 50€</p></div>
        <div class="col"><h6 class="txt">Collection exclusive</h6>
          <p> Conçu par Loïc Nottet lui-même</p></div>
        <div class="col"><h6 class="txt">Garantie</h6>
          <p> 30 jours de garantie pour chaque produits</p></div>
    </div>
</div>
</div>



<!--Section: Products v.4-->
<section class="pb-2 text-center ">


 
  <div class="row">

    
    <!--Grid column-->
    <div class="col-lg-5 col-md-6 mb-4 card-margin">

      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light"  mdbWavesEffect>
          <mdb-card-img src="../assets/img/t-shirtfull.jpg" alt=""></mdb-card-img>
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class ="space-card">
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half ">
        <!--Card image-->
        <div class="view zoom waves-light " mdbWavesEffect>
          <mdb-card-img src="../assets/img/t-shirt.jpg" alt=""></mdb-card-img>
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->

    </div>
    <!--Grid column-->

    <!--Fourth column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light black" mdbWavesEffect>
          <mdb-card-img src="../assets/img/phanto.png"  alt="phantomania, Loïc Nottet"></mdb-card-img>
          <mdb-icon fas icon="angle-right"></mdb-icon>
          
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->

    </div>
    <!--Fourth column-->

  </div>
</div>
  <!--Grid row-->

</section>
<!--Section: Products v.4-->