 h4 {
margin-left: 1.5em;
margin-top: 0.4em;
font-size: 1em;
color: black;
font-weight: 450;
}

h5{
    font-size: 0.8em ;
}

H6 {
    font-size: 1em;
}

p{
    font-size: 1em;
color: gray;}



.black{
    background-color: black;
}

.bg {
    background-color:white;
    padding-left: 5em;
    border-radius: 0 45px 0 0;
    margin-top: -5em;
    position: relative;
}

.marge
{margin:1.5em; 
    margin-top: 2em;
    border:none !important;
    box-shadow: none  !important; 
}


/*banner phantomania + banner fixe LN-Shop now*/ 
.ln {
  position: absolute;
  margin-left: 16em;
  margin-top: 13em;
  z-index: 2;
  max-width: 30%;
}


.shopnow {
    margin-top: 23em;
    margin-left: 16em;
    position: absolute;
    border: white;  
    z-index: 3;
}
.fleche {
    margin-top: 23.5em;
    margin-left: 16em;
    position: absolute;
    border: white;
    z-index: 3;
}

.phantomania {
    margin-left: 67em;
    margin-top:15em;
    position: absolute;
    width:14%;
    width: 20%;
    z-index:5;
}

.code {
    margin-left: 63em;
    margin-top: 15em;
    position: absolute;
    border-radius: 10px;
    max-width: 40%;
    z-index:4;
}

.cirque {
    color: white;
    margin-left: 66.5em;
    margin-top: 20em;
    position: absolute;
    z-index:5;
}

.black{
    background-color: black;
}

.cardsize{
    max-width: 20%;

}