<div class="container">
    <div class="col-6">
        <form [formGroup]="this.itemsService.form" (ngSubmit)="onSubmit()">
            <input placeholder="Nom du produit" formControlName="name" type="text" class="input-field col s12">
            <input placeholder="Description" formControlName="description" type="text" class="input-field col s12">
            <input placeholder="Quantité" formControlName="quantity" type="number" class="input-field col s12">
            <input placeholder="Prix" formControlName="price" type="number" class="input-field col s12">
            <input placeholder="Collection" formControlName="collection" type="text" class="input-field col s12">
            <input type="file" (change)="uploadFileExplore($event)" mutiple>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>